<ion-header>

  <ion-navbar color="dark">
    <ion-title>Edit Basket {{locker.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="text-align: center" padding>
    <img src="../../assets/imgs/b1.png" style="width: 50%">
  </div>

  <ion-item>
    <ion-input type="text" placeholder="{{locker.name}}" [(ngModel)]="locker.name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input type="text" placeholder="{{locker.cate}}" [(ngModel)]="locker.cate"></ion-input>
  </ion-item>
  <br>

  <div padding>
    <button ion-button block round (click)="EditLocker()" *ngIf="edit == false">Edit</button>
    <button ion-button block round color="danger" *ngIf="edit == true">Edit</button>
  </div>


</ion-content>