<ion-header>

  <ion-navbar color="danger">
    <ion-title>Sign up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="setCenter">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Username" [(ngModel)]="LanderName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div class="centerPosition">
          <button ion-button round (click)="SignUp()" *ngIf="signup == false">Sign Up</button>
          <button ion-button round color="secondary" *ngIf="signup == true">Sign Up</button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>