<ion-header>

  <ion-navbar color="danger">
    <ion-title>Basket {{locker.name}} : Add Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="text-align: center" padding (click)="Camera()">
      <img src="{{item.img}}" style="width: 150px;height: 150px;">
  </div>


  <ion-item>
    <ion-input type="text" placeholder="Name" [(ngModel)]="item.name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input type="number" placeholder="Amount" [(ngModel)]="item.totalAmount"></ion-input>
  </ion-item>
  <br>

  <div padding>
    <button ion-button block round (click)="AddItem()" *ngIf="add == false">Add</button>
    <button ion-button block round color="danger" *ngIf="add == true">Add</button>
  </div>


</ion-content>