<ion-header>

  <ion-navbar color="dark">
    <ion-title>Create Basket</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="text-align: center" padding>
    <img src="../../assets/imgs/b1.png" style="width: 50%">
  </div>

  <ion-item>
    <ion-input type="text" placeholder="ชื่อ" [(ngModel)]="locker.name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input type="text" placeholder="หมวดหมู่" [(ngModel)]="locker.cate"></ion-input>
  </ion-item>
  <br>

  <div padding>
    <button ion-button block round (click)="CreateLocker()" *ngIf="add == false">Create</button>
    <button ion-button block round color="danger" *ngIf="add == true">Create</button>
  </div>
  

</ion-content>