<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shelves</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="AddLocker()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-grid class="shelves" no-padding>

    <ion-row class="classShelves">

      <ion-col col-3 padding *ngFor="let L of lockerA">
        <button class="buttonLocker" (click)="lockerDetail(L)" (press)="press(L)">
          {{L.name}}
        </button>
      </ion-col>
      <ion-col col-3 padding style="text-align: center">
        <button style="width: 80%; height: 45px; " ion-button outline color="dark" (click)="AddLocker('A')">
          <ion-icon name="add-circle" style="zoom: 1;"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

    <ion-row class="classShelves">

      <ion-col col-3 padding *ngFor="let L of lockerB">
        <button class="buttonLocker" (click)="lockerDetail(L)" (press)="press(L)">
          {{L.name}}
        </button>
      </ion-col>
      <ion-col col-3 padding style="text-align: center">
        <button style="width: 80%; height: 45px; " ion-button outline color="dark" (click)="AddLocker('B')">
          <ion-icon name="add-circle" style="zoom: 1;"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

    <ion-row class="classShelves">

      <ion-col col-3 padding *ngFor="let L of lockerC">
        <button class="buttonLocker" (click)="lockerDetail(L)" (press)="press(L)">
          {{L.name}}
        </button>
      </ion-col>
      <ion-col col-3 padding style="text-align: center">
        <button style="width: 80%; height: 45px; " ion-button outline color="dark" (click)="AddLocker('C')">
          <ion-icon name="add-circle" style="zoom: 1;"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

    <ion-row class="classShelves">

      <ion-col col-3 padding *ngFor="let L of lockerD">
        <button class="buttonLocker" (click)="lockerDetail(L)" (press)="press(L)">
          {{L.name}}
        </button>
      </ion-col>
      <ion-col col-3 padding style="text-align: center">
        <button style="width: 80%; height: 45px; " ion-button outline color="dark" (click)="AddLocker('D')">
          <ion-icon name="add-circle" style="zoom: 1;"></ion-icon>
        </button>
      </ion-col>

    </ion-row>




  </ion-grid>



</ion-content>