<ion-header>

  <ion-navbar color="dark">
    <ion-title>ConfirmReturn</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid padding style="background-color: lightgray">

    <ion-row style="text-align: center;padding-top: 15px">
      <ion-col col-12>
        <h5>รายการคืนของ</h5>
        <ion-icon name="md-archive"></ion-icon>
      </ion-col>

    </ion-row>

    <ion-grid style="padding-left: 20px;padding-top: 15px">
      <ion-row>
        <ion-col col-4>
          <h6>Returner</h6>
        </ion-col>
        <ion-col col-8>
          <h6>: {{returnList.returnerName}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <h6>Basket</h6>
        </ion-col>
        <ion-col col-8>
          <h6>: {{returnList.lockerName}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <h6>Category</h6>
        </ion-col>
        <ion-col col-8>
          <h6>: {{returnList.lockerCate}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <h6>Date</h6>
        </ion-col>
        <ion-col col-8>
          <h6>: {{returnList.date | date : 'dd MMM HH:mm' }}</h6>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>

  <ion-grid>

    <ion-row style="padding-left: 20px;padding-top: 10px">
      <ion-col col-6>
        <h6>Name</h6>
      </ion-col>
      <ion-col col-6 style="text-align: center;">
        <h6>Amount</h6>
      </ion-col>
    </ion-row>

    <ion-item *ngFor="let item of returnList.items">
      <ion-row style="padding-left: 20px;padding-right: 20px">
        <ion-col col-8>
          {{item.name}}
        </ion-col>
        <ion-col col-4 style="text-align: center;">
          {{item.returnAmount}}
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid no-padding style="  text-align: center">
    <ion-row>
      <ion-col col-6 style="background-color:#222" (click)="CancelReturn()">
        <button style="background-color: unset;color: white" >
          <h5>Cancel</h5>
        </button>
      </ion-col>

      <ion-col col-6 style="background-color: rgb(250, 115, 7)" (click)="ConfirmReturn()" *ngIf="status == false">
        <button style="background-color: unset;color: white" >
          <h5>Confirm</h5>
        </button>
      </ion-col>

      <ion-col col-6 style="background-color: #f53d3d" *ngIf="status == true">
        <button style="background-color: unset;color: white" >
          <h5>Confirm</h5>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>